$body: #282828;
$github: #FF00FF;
$twitter: #55acee;
$linkedin: #007bb5;
$codepen: #FFDD40;
$transition:all 600ms cubic-bezier(0.075, 0.82, 0.165, 1);
%focus-it{
	top:0;
	left:0;
	width:100%;
	height:100%;
	border-radius:0;
	opacity:.8;
	z-index:1;
	cursor:pointer;
	i{
		opacity:1;
		font-size:20vw;
		margin: 15vw 33vw;
	}

}

body{
	width:100%;
	height:100vh;
	background-color:$body;
	display: flex;
  align-items: center;
  justify-content: center;
	.frame{
		width:80vw;
		height:50vw;
		border-radius:5%;
		overflow:hidden;
		position:relative;
		.picture{
			width:100%;
			height:100%;
			background-image:url('https://s.cdpn.io/profiles/user/1831447/512.jpg?1551435030');
			z-index:0;
    	background-position:center;
			background-repeat:no-repeat;
			background-size:cover;
			transition:$transition;
			filter: grayscale(100%);
		}
		.social{
			position:absolute;
			right:2vw;
			width:5vw;
			height:5vw;
			border-radius:50%;
			z-index:2;
			a{

				display:contents;
				i{
					color:white;
					margin:7px;
					opacity:0;
				}
			}
			&.twitter{
				bottom:2vw;
				background-color:$twitter;
				&:hover,&:focus{@extend %focus-it;}

			}
			&.linkedin{
				bottom:10vw;
				background-color:$linkedin;

&:hover,&:focus{@extend %focus-it;}

			}
			&.github{
				bottom:26vw;
				background-color:$github;
				&:hover,&:focus{@extend %focus-it;}
			}
			&.codepen{
				bottom:18vw;
				background-color:$codepen;
				&:hover,&:focus{@extend %focus-it;}
			}
		}
		&:hover,&.focus{
			.picture{
				transition:$transition;
				transform:scale(1.3) rotate(10deg);
			}
		}

	}
}
