<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css" integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="{{url_for('static',filename='css/contact.css')}}">
    <title>Contact Me</title>
  </head>
  <body>
    <a class="home" href="{{ url_for('home') }}">Home</a>
    <div class="frame">
    	<div class="picture"></div>
        <a class="home" href="{{ url_for('home') }}">Home</a>

        <!-- Gmail link -->
      		<div class="social gmail">
      			<a href="mailto:peter.izzo528@gmail.com" target="_blank">
      				<i class="fab fa-google"></i>
      			</a>
      		</div>

        <!--Github link-->
    		<div class="social github">
    			<a href="https://github.com/peter-izzo" target="_blank">
    				<i class="fab fa-github"></i>
    			</a>
    		</div>
    		<!--Twitter link-->
    		<div class="social twitter">
    			<a href="https://twitter.com/pizzo528" target="_blank">
    				<i class="fab fa-twitter"></i>
    			</a>
    		</div>

    	<!-- Linkedin link -->
    		<div class="social linkedin">
    			<a href="https://www.linkedin.com/in/peter-izzo-904560121/" target="_blank">
    				<i class="fab fa-linkedin"></i>
    			</a>
    		</div>

    		<!-- Codepen Link-->
    		<div class="social codepen">
    			<a href="https://codepen.io/pete-izzo/" target="_blank">
    				<i class="fab fa-codepen"></i>
    			</a>
    		</div>
    </div>
  </body>
</html>
